---
import type { IFrontmatter } from '@/components';

import { CTA } from '@/partials/CTA';
import { Hero } from '@/partials/Hero';
import {Services } from '@/partials/Services';
import { ProjectList } from '@/partials/ProjectList';
import { RecentPosts } from '@/partials/RecentPosts';
import { Contact } from '@/partials/Contact';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
const sortedPosts = sortByDate(allPosts);
const lastThreePosts = sortedPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <Services />
  <ProjectList />
  <RecentPosts postList={lastThreePosts} />
  <CTA />
  <Contact />
</Base>
