---
import type { IFrontmatter } from '@/components';

import BlogPost from '@/partials/BlogPost';
import { CTA } from '@/partials/CTA';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  content: IFrontmatter;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <slot></slot>
  </BlogPost>

  <CTA />
</Base>
